package views

import "github.com/HanmaDevin/chatdev/types"

templ Chats(chats []types.Chat) {
<div class="chats">
  for _, chat := range chats {
  <div class="chat-item" data-id={ chat.ID }>
    <a href={ "/chat/" + chat.ID } class="chat-link">{chat.Name}</a>
  </div>
  }
</div>
}
