package views

import "github.com/HanmaDevin/chatdev/types"

templ Conversation(chat *types.Chat) {
<div class="conversation">
  for _, message := range chat.Messages {
  <div class="message" data-id={ message.ID }>
    <span class="message-author">{ message.Sender }</span>
    <span class="message-content">{ message.Content }</span>
    <span class="message-timestamp">{ message.Timestamp }</span>
  </div>
  }
</div>
}
