package templates

templ Index() {
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatdev</title>
</head>

<body>
  <div>
    <div>
      @Message("Welcome to Chatdev! This is a simple chat application built with Go and WebSockets.")
    </div>
  </div>
</body>

</html>
}
